CREATE DATABASE [GPS]
GO

USE [GPS]
GO

CREATE TABLE [dbo].[Arrival](
    [ArrID] [int] IDENTITY(1,1) NOT NULL,
    [ADate] [nvarchar](50) NULL,
    [ArrTime] [nvarchar](50) NULL,
    [Flight] [nvarchar](100) NULL,
    [CID] [int] NULL,
    [CEnName] [nvarchar](50) NULL,
    [CArName] [nvarchar](50) NULL,
    [CAddress] [nvarchar](50) NULL,
    [ShatelBus] [nvarchar](50) NULL,
    [Bus] [nvarchar](20) NULL,
    [Driver] [nvarchar](20) NULL,
    [TransOfficerNote] [nvarchar](max) NULL,
    [Area] [int] NULL,
    [CF] [int] NOT NULL,
    [RNum] [int] NULL,
    [TransOfficer] [int] NULL,
    [Transofficer1] [int] NULL,
    [isinserted] [int] NULL,
    [DMNote] [nvarchar](max) NULL,
    CONSTRAINT [PK__Arrival__5629CD9C] PRIMARY KEY CLUSTERED ([ArrID] ASC)
)
GO

CREATE TABLE [dbo].[ARRPer](
    [ID] [int] NOT NULL,
    [ArrID] [int] NULL,
    [ADate] [int] NULL,
    [ArrTime] [int] NULL,
    [Flight] [int] NULL,
    [CID] [int] NULL,
    [CEnName] [int] NULL,
    [CArName] [int] NULL,
    [CAddress] [int] NULL,
    [ShatelBus] [int] NULL,
    [Bus] [int] NULL,
    [Driver] [int] NULL,
    [TransOfficerNote] [int] NULL,
    [Area] [int] NULL,
    [CF] [int] NULL,
    [RNum] [int] NULL,
    [TransOfficer] [int] NULL,
    [Transofficer1] [int] NULL,
    [isinserted] [int] NULL,
    [DMNote] [int] NULL,
    CONSTRAINT [PK_ARRPer] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

CREATE TABLE [dbo].[BLine](
    [lineID] [int] IDENTITY(1,1) NOT NULL,
    [LName] [nvarchar](50) NULL,
    [Shift] [char](10) NULL,
    CONSTRAINT [PK__BLine__1B0907CE] PRIMARY KEY CLUSTERED ([lineID] ASC)
)
GO

CREATE TABLE [dbo].[bus](
    [Bus] [nvarchar](20) NULL,
    [drname] [nvarchar](20) NULL,
    [Buss] [int] NULL,
    [Driver] [nvarchar](20) NOT NULL,
    [areaa] [int] NULL,
    [REGEXPD] [datetime] NULL,
    [xloc] [nchar](10) NULL,
    [yloc] [nchar](10) NULL,
    [tdid] [int] IDENTITY(1,1) NOT NULL
)
GO

CREATE TABLE [dbo].[busloc](
    [Longitude] [nchar](11) NULL,
    [Latitude] [nchar](11) NULL,
    [PlateNumber] [nchar](10) NULL
)
GO

CREATE TABLE [dbo].[CallOutRoster](
    [CallerID] [int] NULL,
    [CalledID] [int] NULL,
    [CallTime] [nvarchar](70) NULL,
    [CalledName] [nvarchar](50) NULL,
    [Mobile] [nvarchar](20) NULL
)
GO

CREATE TABLE [dbo].[CInOrder](
    [COrderID] [int] IDENTITY(1,1) NOT NULL,
    [OrderID] [int] NULL,
    [CID] [int] NULL,
    [ArName] [nvarchar](50) NULL,
    [HomeAddress] [nvarchar](50) NULL,
    [Destination] [nvarchar](50) NULL,
    [PickupTime] [nvarchar](50) NULL,
    [Status] [nvarchar](50) NULL,
    [ID] [int] NULL,
    CONSTRAINT [PK__CInOrder__628FA481] PRIMARY KEY CLUSTERED ([COrderID] ASC)
)
GO

CREATE TABLE [dbo].[coordinates](
    [ID] [int] NULL,
    [PLATE NUMBER] [nchar](50) NULL,
    [LONGITUDE] [nchar](50) NULL,
    [LATITUDE] [nchar](50) NULL,
    [DATET TIME] [datetime] NULL
)
GO

CREATE TABLE [dbo].[CREW CANCELATION](
    [ID] [int] NULL,
    [NAME] [nchar](30) NULL,
    [FLIGHT] [nchar](10) NULL,
    [FLIGHT DATE] [nchar](10) NULL,
    [CANCELATION NOTE] [nchar](10) NULL,
    [CANCELATION DATE] [datetime] NULL
)
GO

CREATE TABLE [dbo].[DMLine](
    [ID] [int] IDENTITY(1,1) NOT NULL,
    [LDate] [varchar](50) NULL,
    [LShift] [char](1) NULL,
    [ArrTime] [varchar](50) NULL,
    [LineName] [nvarchar](50) NOT NULL,
    [LineNote] [nvarchar](max) NULL,
    [Nuser] [nvarchar](50) NULL,
    CONSTRAINT [PK__DMLine__24927208] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

CREATE TABLE [dbo].[DMNote](
    [NoteID] [int] IDENTITY(1,1) NOT NULL,
    [NoteText] [text] NULL,
    [NoteDtae] [varchar](50) NULL,
    PRIMARY KEY CLUSTERED ([NoteID] ASC)
)
GO

CREATE TABLE [dbo].[Driver](
    [ID] [int] IDENTITY(1,1) NOT NULL,
    [Driver] [nvarchar](max) NULL,
    [section] [nvarchar](50) NULL,
    [sick] [int] NULL,
    [anual] [int] NULL,
    [leave] [int] NULL,
    CONSTRAINT [PK_Driver] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

CREATE TABLE [dbo].[DTNote](
    [NID] [int] IDENTITY(1,1) NOT NULL,
    [DriverID] [int] NULL,
    [DName] [nvarchar](50) NULL,
    [DSCT] [nvarchar](20) NULL,
    [DVNum] [nvarchar](20) NULL,
    [DSickL] [int] NULL,
    [DBAnn] [int] NULL,
    [DLH] [varchar](20) NULL,
    [DMNote] [nvarchar](max) NULL,
    [DMID] [int] NULL,
    [NDate] [varchar](50) NULL,
    PRIMARY KEY CLUSTERED ([NID] ASC)
)
GO

CREATE TABLE [dbo].[Email](
    [ID] [int] IDENTITY(1,1) NOT NULL,
    [Email] [nvarchar](50) NULL,
    [Date] [nvarchar](50) NULL,
    [busnum] [nvarchar](max) NULL,
    PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

CREATE TABLE [dbo].[Employee](
    [EMPLOYEE_NUMBER] [int] NOT NULL,
    [EMPLOYEE_NAME] [nvarchar](50) NULL,
    [ARABIC NAME] [nvarchar](50) NULL,
    [DEPARTMENT] [nvarchar](50) NULL,
    [USING_RJ_BUS] [nvarchar](5) NULL,
    [LOCATION] [nvarchar](50) NULL,
    CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED ([EMPLOYEE_NUMBER] ASC)
)
GO

CREATE TABLE [dbo].[engdata](
    [id] [int] NOT NULL,
    [name] [nvarchar](50) NULL,
    [addd] [nvarchar](max) NULL,
    [mobile] [nvarchar](20) NULL,
    [Area] [int] NULL,
    CONSTRAINT [PK_engdata] PRIMARY KEY CLUSTERED ([id] ASC)
)
GO

CREATE TABLE [dbo].[Engineer](
    [Engineer] [int] NOT NULL,
    [EMPLOYEE_NAME] [nvarchar](50) NULL,
    [ARABIC NAME] [nvarchar](50) NULL,
    [DEPARTMENT] [nvarchar](50) NULL,
    [USING_RJ_BUS] [nvarchar](5) NULL,
    [LOCATION] [nvarchar](50) NULL,
    [DATE] [date] NULL,
    [BUS_LINE] [nchar](20) NULL
)
GO

CREATE TABLE [dbo].[engineers](
    [ID] [int] NULL,
    [name] [nvarchar](50) NULL,
    [Address] [nvarchar](max) NULL,
    [Phone] [nvarchar](10) NULL,
    [ShiftText] [nvarchar](10) NULL,
    [GPSCallTime] [nvarchar](50) NULL,
    [SDate] [Date] NULL,
    [GPSNote] [nvarchar](max) NULL,
    [Buss] [nvarchar](50) NULL,
    [Driver] [nvarchar](50) NULL,
    [Area] [int] NULL,
    [GPSCaller] [int] NULL,
    [ENGhID] [int] NOT NULL
)
GO

CREATE TABLE [dbo].[engtimp](
    [ID] [int] NOT NULL,
    [name] [nvarchar](50) NULL,
    [Address] [nvarchar](max) NULL,
    [Phone] [nvarchar](50) NULL,
    [Shifttime] [nvarchar](50) NULL,
    [shiftdate] [datetime] NULL,
    CONSTRAINT [PK_engtimp] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

CREATE TABLE [dbo].[errorlog](
    [LogID] [int] IDENTITY(1,1) NOT NULL,
    [LogDateTime] [nvarchar](100) NULL,
    [UserID] [int] NULL,
    [errorText] [nvarchar](max) NULL,
    PRIMARY KEY CLUSTERED ([LogID] ASC)
)
GO

CREATE TABLE [dbo].[event](
    [id] [int] IDENTITY(1,1) NOT NULL,
    [y] [int] NULL,
    [m] [int] NULL,
    [d] [int] NULL,
    [MyEvent] [nvarchar](max) NOT NULL,
    [Important] [nchar](10) NOT NULL,
    CONSTRAINT [PK_id] PRIMARY KEY CLUSTERED ([id] ASC)
)
GO

CREATE TABLE [dbo].[FullRoster](
    [FDate] [nvarchar](50) NULL,
    [PickupTime] [nvarchar](50) NULL,
    [Flight] [nvarchar](max) NULL,
    [CID] [int] NULL,
    [CEnName] [nvarchar](50) NULL,
    [CMobile] [nvarchar](50) NULL,
    [CArName] [nvarchar](50) NULL,
    [CAdd] [nvarchar](50) NULL,
    [GPSCallTime] [nvarchar](max) NULL,
    [Bus] [nvarchar](50) NULL,
    [Driver] [nvarchar](50) NULL,
    [GPSNote] [nvarchar](max) NULL,
    [Area] [int] NULL,
    [BrfTime] [nvarchar](50) NULL,
    [ArrTime] [nvarchar](50) NULL,
    [DMnote] [nvarchar](max) NULL,
    [late] [nvarchar](50) NULL,
    [CF] [int] NULL,
    [RNum] [int] NULL,
    [isinsert] [int] NULL,
    [RID] [int] IDENTITY(1,1) NOT NULL,
    [GPSOfficer] [int] NULL,
    [DM] [int] NULL,
    [TransOfficer] [int] NULL,
    [DAtee] [datetime] NULL,
    CONSTRAINT [PK_FullRoster] PRIMARY KEY CLUSTERED ([RID] ASC)
)
GO

CREATE TABLE [dbo].[gsmodby](
    [GSSID] [int] NULL,
    [name] [nchar](50) NULL,
    [BY] [int] NULL,
    [date] [nchar](50) NULL,
    [gsshift] [nchar](50) NULL
)
GO

CREATE TABLE [dbo].[Gss](
    [id] [int] NULL,
    [Name] [nvarchar](50) NULL,
    [Phone] [nvarchar](20) NULL,
    [addd] [nvarchar](max) NULL,
    [Area] [int] NULL
)
GO

CREATE TABLE [dbo].[GSShift](
    [GSID] [int] NULL,
    [GSName] [nvarchar](50) NULL,
    [Phone] [nvarchar](50) NULL,
    [Address] [nvarchar](50) NULL,
    [ShiftText] [nvarchar](50) NULL,
    [GPSCallTime] [nvarchar](max) NULL,
    [SDate] [nvarchar](100) NULL,
    [Senc] [int] NULL,
    [GPSNote] [nvarchar](max) NULL,
    [Buss] [nvarchar](50) NULL,
    [Driver] [nvarchar](50) NULL,
    [Area] [int] NULL,
    [GPSShift] [int] NULL,
    [GPSCaller] [int] NULL,
    [TransOfficer] [int] NULL,
    [GSShID] [int] IDENTITY(1,1) NOT NULL,
    CONSTRAINT [PK_GSShift] PRIMARY KEY CLUSTERED ([GSShID] ASC)
)
GO

CREATE TABLE [dbo].[hh](
    [gg] [datetime] NULL
)
GO

CREATE TABLE [dbo].[loader](
    [LoadDateTime] [nvarchar](100) NULL,
    [LoaderID] [int] NULL,
    [FileName] [nvarchar](100) NULL
)
GO

CREATE TABLE [dbo].[Locator](
    [ID] [int] NOT NULL,
    [busnum] [nchar](10) NULL,
    [locator] [nchar](500) NULL,
    CONSTRAINT [PK_Locator] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

CREATE TABLE [dbo].[MaintenanceCase](
    [ID] [int] IDENTITY(1,1) NOT NULL,
    [casetext] [nvarchar](200) NULL,
    PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

CREATE TABLE [dbo].[maintinance](
    [ID] [int] IDENTITY(1,1) NOT NULL,
    [Bus] [nvarchar](50) NULL,
    [InDate] [nvarchar](50) NULL,
    [outDate] [nvarchar](50) NULL,
    [Problem] [nvarchar](max) NULL,
    [Status] [int] NULL,
    [EXPOutDate] [nvarchar](50) NULL,
    [Note] [nvarchar](max) NULL,
    CONSTRAINT [PK__maintinance__4AB81AF0] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

CREATE TABLE [dbo].[MNote](
    [ID] [int] IDENTITY(1,1) NOT NULL,
    [BusNum] [nvarchar](50) NULL,
    [NNote] [nvarchar](max) NULL,
    [Ndate] [nvarchar](50) NULL,
    [Nuser] [nvarchar](50) NULL,
    CONSTRAINT [PK__MNote__276EDEB3] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

CREATE TABLE [dbo].[mobile](
    [id] [int] NULL,
    [Name] [nvarchar](50) NULL,
    [areaa] [int] NULL,
    [Phone] [nvarchar](20) NULL,
    [HomeAddress] [nvarchar](max) NULL,
    [note] [nvarchar](max) NULL,
    [GPSNote] [nvarchar](max) NULL,
    [xloc] [nchar](20) NULL,
    [yloc] [nchar](20) NULL
)
GO

CREATE TABLE [dbo].[Office](
    [IDD] [int] NOT NULL,
    [Name] [nvarchar](20) NULL,
    [Phone] [int] NULL,
    PRIMARY KEY CLUSTERED ([IDD] ASC)
)
GO

CREATE TABLE [dbo].[Orders](
    [OrderID] [int] IDENTITY(1,1) NOT NULL,
    [CreatorID] [int] NULL,
    [ODate] [nvarchar](50) NULL,
    [DriverName] [nvarchar](50) NULL,
    [Bus] [nvarchar](30) NULL,
    [StartTime] [nvarchar](20) NULL,
    [EndTime] [nvarchar](20) NULL,
    [StartKM] [int] NULL,
    [EndKM] [int] NULL,
    [OrderStatus] [int] NULL,
    [DepShatelBus] [nvarchar](20) NULL,
    [ArrShatelBus] [nvarchar](20) NULL,
    PRIMARY KEY CLUSTERED ([OrderID] ASC)
)
GO

CREATE TABLE [dbo].[pathh](
    [id] [int] NULL,
    [pathh] [nvarchar](max) NULL
)
GO

CREATE TABLE [dbo].[Permissions](
    [ID] [int] NOT NULL,
    [Roster] [int] NULL,
    [GS] [int] NULL,
    [CG] [int] NULL,
    [BD] [int] NULL,
    [SMS] [int] NULL,
    [LineB] [int] NULL,
    [DMN] [int] NULL,
    [MainN] [int] NULL,
    [Main] [int] NULL,
    [Arrivals] [int] NULL,
    [Arr] [int] NULL,
    [Orders] [int] NULL,
    [Ordersinp] [int] NULL,
    [Note] [int] NULL,
    [uploadRoster] [int] NULL,
    [SMSReports] [int] NULL,
    [Reports] [int] NULL,
    [Tools] [int] NULL,
    [arabic] [int] NULL,
    [GSSDate] [int] NULL,
    [uploadArrival] [int] NULL,
    [RFDate] [int] NULL,
    [RPickupTime] [int] NULL,
    [RFlight] [int] NULL,
    [RCID] [int] NULL,
    [RBus] [int] NULL,
    [RGPSNote] [int] NULL,
    [RBrfTime] [int] NULL,
    [RArrTime] [int] NULL,
    [RDMnote] [int] NULL,
    [Rlate] [int] NULL,
    [RCF] [int] NULL,
    [RRNum] [int] NULL,
    [Risinsert] [int] NULL,
    [RRID] [int] NULL,
    [RGPSOfficer] [int] NULL,
    [RDM] [int] NULL,
    [RTransOfficer] [int] NULL,
    [RDAtee] [int] NULL,
    [Area] [int] NULL,
    [CMobile] [int] NULL,
    [gGSID] [int] NULL,
    [gGSName] [int] NULL,
    [gPhone] [int] NULL,
    [gAddress] [int] NULL,
    [gShiftText] [int] NULL,
    [gGPSCallTime] [int] NULL,
    [gSDate] [int] NULL,
    [gSenc] [int] NULL,
    [gGPSNote] [int] NULL,
    [gBuss] [int] NULL,
    [gDriver] [int] NULL,
    [gArea] [int] NULL,
    [gGPSShift] [int] NULL,
    [gGPSCaller] [int] NULL,
    [gTransOfficer] [int] NULL,
    [gGSShID] [int] NULL,
    CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

CREATE TABLE [dbo].[Roster](
    [ID] [int] NULL,
    [ttime] [nvarchar](max) NULL,
    [Bus] [nvarchar](20) NULL,
    [Driver] [nvarchar](50) NULL,
    [nnote] [nvarchar](max) NULL,
    [ArTime] [nvarchar](50) NULL,
    [DMnote] [nvarchar](max) NULL,
    [larr] [nvarchar](50) NULL
)
GO

CREATE TABLE [dbo].[sickleave](
    [ID] [int] IDENTITY(1,1) NOT NULL,
    [EID] [int] NOT NULL,
    [NAME] [nchar](100) NOT NULL,
    [LEAVEXT] [nchar](1000) NULL,
    [FROM] [date] NULL,
    [TO] [date] NULL,
    [IMG] [image] NULL,
    CONSTRAINT [PK_sickleave] PRIMARY KEY CLUSTERED ([ID] ASC)
)
GO

CREATE TABLE [dbo].[sms](
    [IDD] [int] IDENTITY(1,1) NOT NULL,
    [Number] [nvarchar](20) NULL,
    [smstext] [nvarchar](170) NULL,
    [dt] [nvarchar](20) NULL,
    PRIMARY KEY CLUSTERED ([IDD] ASC)
)
GO

CREATE TABLE [dbo].[Userr](
    [ID] [int] NOT NULL,
    [Name] [nvarchar](100) NULL,
    [ttime] [nvarchar](20) NULL,
    [per] [int] NULL,
    [Password] [nvarchar](50) NULL,
    [Office] [int] NULL
)
GO

ALTER TABLE [dbo].[CInOrder] WITH CHECK ADD CONSTRAINT [FK__CInOrder__OrderI__6383C8BA] FOREIGN KEY([OrderID]) REFERENCES [dbo].[Orders] ([OrderID])
GO